* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 滚动条美化 */
::-webkit-scrollbar-track-piece {
  background-color: hsl(0, 0%, 97%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  background-clip: padding-box;
  min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

#__nuxt {
  background: #fff;
  font-size: 14px;
}

:root {
  --main--color: #409eff;
  --font--color: #fff;
  --title--color: #666;
}

@font-face {
  font-family: 'font_css';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://cdn.xxhzm.cn/FontLIbs/3.ttf');
}

body {
  font-family: 'font_css' !important;
}